body{
  margin: 0;
  padding: 0;
  color: #161925;
  font-family: georgia;
}

/*header*/

header h1{
  font-weight: bold;
  font-family: Helvetica,sans-serif;
  font-size: 50px;
  margin: 0.5em 1em;
  display: inline-block;
  vertical-align: middle;
}

h1 a{
  color: #06a5a5;
}

header form{
  display: inline-block;
  vertical-align: middle;
  margin: auto 10em;
}

header input{
  border-radius: none;
  padding: 0.4em 0.4em;
  width: 400px;;
}

header li{
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  margin: 1em;
}

nav a{
  color: white;
  font-weight: bold;
  letter-spacing: 0.1em;
}

nav a:hover{
  color: #f46036;
}

header ul{
  background: #06a5a5;
  height: 50px;
  margin: 0;
}

nav a span{
  color: #161925;
}

h1 span{
  color: #f46036;
}

 /*section */

section .home, .home figure, .home img, .t{
  margin: 0;
}

.home img{
  width: 100%;
  height: 400px;
}

h2, .contact h3, .produits h1, .contact h4, footer p{
text-align: center;
}

h2{
  text-transform: uppercase;
  font-size: 22px;
  margin: 1em;
}

.contact h3, .produits h3, caption{
  margin: 1em;
}

.home p{
  margin: 1em 10em;
  text-align: justify;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #a29fa5;
  margin: 2em;
  padding: 1em;
}

.tarifs nav a{
  color: white;
}

a{
  text-decoration: none;
}

table a:hover, .produits h3, nav a span{
  text-decoration: underline;
}

caption{
  text-align: left;
  background: #f46036;
  width: 18%;
  padding: 0.5em;
  font-size: 18px;
}

.produits img{
  width: 100%;
  height: 200px;
}

.disc{
  display: inline-block;
  vertical-align: top;
}

.disc h4{
  font-size: 25px;
}

.arial, .t{
  font-family: arial;
}

.disc button{
  background: #f46036;
  padding: 0.8em;
  margin: 0.2em auto;
  border: none;
}

caption a, .disc button{
  color: white;
}

.t{
  font-size: 25px;
  color: #f46036;
}

article figure{
  display: inline-block;
  margin: 1em;
  border: 1px #a29fa5 dashed;
  padding: 1em;
  vertical-align: top;
}

.produits h1, .disc button{
  text-transform: uppercase;
}

#robinet, #tubes{
  border-bottom: 2px #f46036 solid;
}

#joints{
  margin: auto auto 2em auto;
}

input[name="number"]{
  width: 60px;
}

textarea{
  padding: 0.5em;
}

.contact h4{
  background: #f46036;
  color: white;
}

.contact{
  margin: auto 20em;
  text-align: justify;
}

.contact input, .contact select{
  margin-bottom: 1em;
}

input[name="submit"]{
  background: #f46036;
  color: white;
  border: 0;
  padding: 0.5em;
  margin: 1em auto;
}

input, textarea{
  margin: 0.3em auto;
}

iframe{
  margin: .5em 0 3em 0;
}

/*footer*/

footer{
  border-top: 1px #06a5a5 solid;
  height: 30px;
}

footer p{
  padding: 0.1em;
}
