body{
  margin: 0;
  padding: 0;
}

/*header*/

header h1{
  color: #06a5a5;
  font-weight: bold;
  font-family: Helvetica,sans-serif;
  font-size: 50px;
  margin: 0.5em 1em;
  display: inline-block;
  vertical-align: middle;
}

header form{
  display: inline-block;
  vertical-align: middle;
  margin: auto 10em;
}

header input{
  border-radius: none;
  padding: 0.4em 0.4em;
  width: 400px;;
}

header li{
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  margin: 1em;
}

header a{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.1em;
}

header a:hover{
  color: #5603ad;
  text-decoration: underline;
}

header ul{
  background: #06a5a5;
  width: 97%;
  height: 50px;
  margin: 0;
}

section{
  width: 100%;
  height: 700px;
  margin: 0;
}

figure{
  margin: 0;
}

img{
  width: 100%;
  height: 400px;
  margin: 0;
}

h2, p{
  margin: 1em 10em;
  text-align: justify;
  color: #50514f;
}

/*footer*/

footer{
  border-top: 1px #06a5a5 solid;
  height: 50px;
}

footer p{
  text-align: center;
  color: #50514f;
}
