body{
  margin: 0;
  padding: 0;
  color: #161925;
  font-family: georgia;
}

/*header*/

header h1{
  color: #06a5a5;
  font-weight: bold;
  font-family: Helvetica,sans-serif;
  font-size: 50px;
  margin: 0.5em 1em;
  display: inline-block;
  vertical-align: middle;
}

header form{
  display: inline-block;
  vertical-align: middle;
  margin: auto 10em;
}

header input{
  border-radius: none;
  padding: 0.4em 0.4em;
  width: 400px;;
}

header li{
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  margin: 1em;
}

header a{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.1em;
}

header a:hover{
  /*color: #5603ad;*/
  color: #f46036;
}

header ul{
  background: #06a5a5;
  height: 50px;
  margin: 0;
}

a span{
  color: #161925;
  text-decoration: underline;
}

h1 span{
  color: #f46036;
}

 /*section */
section .home{
  margin: 0;
}

figure{
  margin: 0;
}

img{
  width: 100%;
  height: 400px;
  margin: 0;
}

h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  margin: 1em;
}

.contact h3{
  text-align: center;
  margin: 1em;
}

.home p{
  margin: 1em 10em;
  text-align: justify;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #a29fa5;
  margin: 2em;
  padding: 1em;
}

caption{
  margin: 1em;
  text-align: left;
  background: #f46036;
  width: 18%;
  color: white;
  padding: 0.5em;
}

.produits img{
  width: 100%;
  height: 200px;
}

.produits h3{
  margin: 1em;
  text-decoration: underline;
}

.disc{
  display: inline-block;
  vertical-align: top;
}

.disc h4{
  font-size: 25px;
}

.arial, .t{
  font-family: arial;
}

.disc button{
  background: #f46036;
  padding: 0.8em;
  margin: 0.2em auto;
  color: white;
  border: none;
  text-transform: uppercase;
}

.t{
  font-size: 25px;
  color: #f46036;
  margin: 0;
}

article figure{
  display: inline-block;
  margin: 1em;
  border: 1px #a29fa5 solid;
  padding: 1em;
  vertical-align: top;
}

.produits h1{
  text-transform: uppercase;
  text-align: center;
}

.robinet, .tubes{
  border-bottom: 2px #f46036 solid;
}

.joints{
  margin: auto auto 2em auto;
}

input[name="number"]{
  width: 60px;
}

textarea{
  padding: 0.5em;
}

.contact h4{
  background: #f46036;
  color: white;
  text-align: center;
}

.contact{
  margin: auto 20em;
  text-align: justify;
}

.contact input, .contact select{
  margin-bottom: 1em;
}

input[name="submit"]{
  background: #f46036;
  color: white;
  border: 0;
  padding: 0.5em;
  margin: 1em auto;
}

/*footer*/

footer{
  border-top: 1px #06a5a5 solid;
  height: 30px;
}

footer p{
  text-align: center;
}
